asgiref
beautifulsoup4
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-bootstrap4
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-filter
djangorestframework
fontawesome
fontawesomefree
gunicorn
idna
importlib_metadata
Markdown
packaging
pillow
psycopg2-binary
requests
six
soupsieve
sqlparse
typing_extensions
urllib3
whitenoise
zipp
